* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Sono', sans-serif;
}  

.pricing-container {
    max-width: 75%;
    display: flex;
    gap: 30px;
    margin: 200px auto;
    justify-content: center;
}    

.pricing-plan {
    max-width: 30%;
    min-width: 0;
    flex: 1 1 0;
    text-align: center;
    padding: 1em;
    line-height: 2.8rem;
    background-color: #f2f2f2;
}  

.plan-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.plan-price {
    font-weight: bold;
    font-size: 3rem;
}

.plan-features {
    list-style: none;
}
    
/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1250px) {
      
}    
